<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>修改博文</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
	<script src="__EDITOR__/third-party/jquery.min.js"></script>
	<js file="__EDITOR__/umeditor.config.js" />
	<js file="__EDITOR__/umeditor.min.js" />
	<script src="__EDITOR__/lang/zh-cn/zh-cn.js"></script>
	<link rel="stylesheet" href="__EDITOR__/themes/default/css/umeditor.min.css" />
	<script type="text/javascript">
		window.UMEDITOR_HOME_URL = '__EDITOR__/';
		window.onload = function(){
			window.UMEDITOR_CONFIG.initialFrameWidth = "98%";
			window.UMEDITOR_CONFIG.imageUrl = "{:U('Admin/Blog/upload')}";
			window.UMEDITOR_CONFIG.imagePath = "__ROOT__/";
			// window.UMEDITOR_CONFIG.initialContent = "{:$blog['content']}";
			window.UMEDITOR_CONFIG.textarea = 'content';

			var um = UM.getEditor('content');
			um.setContent('{:$blog["content"]}');
		}
	</script>
</head>
<body>
	<form action="{:U(MODULE_NAME.'/Blog/handleEdit',array('id'=>$id))}" method="post">
		<table class="table">
			<tr>
				<th colspan="2">博文修改</td>
			</tr>
			<tr>
				<td width="10%">博文分类</td>
				<td>
					<select name="cid" >
						<option>请选择分类</option>
						<foreach name='cate' item='v'>
							<if condition=" $blog.cateName eq $v['name']">
							<option selected="selected">{$v.html}{$v.name}</option>
							<else/>
							<option value="{$v.id}">{$v.html}{$v.name}</option>
							</if>
						</foreach>
					</select>
				</td>
			</tr>
			<tr>
				<td>博文属性</td>
				<td>
					<if condition="$blog.attr eq null">
						<foreach name='attr' item='v'>
							<input type="checkbox" name="aid[]" value="{$v.id}" />{$v.name}&nbsp;
						</foreach>
					<else/>
						<foreach name='attr' item='v'>
							<in name="v.id" value="$attr_ids">
								<input type="checkbox" name="aid[]" value="{$v.id}" checked="checked" />{$v.name}&nbsp;
							<else/>
								<input type="checkbox" name="aid[]" value="{$v.id}" />{$v.name}&nbsp;
							</in>
						</foreach>
					</if>

				</td>
			</tr>
			<tr>
				<td>点击次数</td>
				<td>
					<input type="text" name="click" value="{$blog.click}" />
				</td>
			</tr>
			<tr>
				<td>博文标题</td>
				<td>
					<input type="text" name="title" value="{$blog.title}" />
				</td>
			</tr>
			<tr>
				<td>摘要</td>
				<td>
					<input type="text" name="summa" value="{$blog.summary}" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="content"></div>
				</td>
			</tr>
		</table>
		<input type="submit" value="保存提交"  style="display:block;width:100px;height:24px;margin:10px auto;"/>
	</form>
</body>
</html>